[submodule "src/deps/zig-gamedev/libs/dawn"]
	path = src/deps/zig-gamedev/libs/dawn
	url = https://github.com/michal-z/dawn-bin
[submodule "src/deps/zig-gamedev"]
	path = src/deps/zig-gamedev
	url = https://github.com/michal-z/zig-gamedev
[submodule "src/deps/zig-flecs"]
	path = src/deps/zig-flecs
	url = https://github.com/foxnne/zig-flecs.git
[submodule "src/deps/flecs"]
	path = src/deps/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "src/deps/zig-ecs"]
	path = src/deps/zig-ecs
	url = https://github.com/prime31/zig-ecs.git
